<% layout('layouts/boilerplate') %>

<div class="row">
  <h1 class="text-center">New Campground</h1>
  <div class="col-md-6 offset-md-3">
    <form
      action="/campgrounds"
      method="POST"
      class="validated-form"
      novalidate
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input
          class="form-control"
          id="title"
          type="text"
          name="campground[title]"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label"> Upload Images </label>
        <input
          name="image"
          class="form-control"
          type="file"
          id="image"
          multiple
        />
      </div>

      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input
          class="form-control"
          id="location"
          type="text"
          name="campground[location]"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="price">Campground Price</label>
        <div class="input-group mb-3">
          <span class="input-group-text">$</span>
          <input
            id="price"
            type="text"
            class="form-control"
            aria-describedby="price-label"
            name="campground[price]"
            required
          />
          <span class="input-group-text">.00</span>
          <div class="valid-feedback">Looks good!</div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="description">description</label>
        <textarea
          class="form-control"
          id="description"
          type="text"
          name="campground[description]"
          required
        ></textarea>
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <button class="btn btn-success">Add Campground</button>
      </div>
    </form>
    <a href="/campgrounds">All Campgrounds</a>
  </div>
</div>
